<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-2"></div>
    <div class="col-8">
      <form action="/filter" class="form-group row">
        <select class="form-control-lg col-8" id="exampleFormControlSelect1 category"
          placeholder="Readonly input here..." name="category">
          <option value="請選擇類別">請選擇類別</option>
          <option value="全部" {{#if (eq filteredCategory '全部' )}}selected{{/if}}>全部</option>
          <option value="餐飲食品" {{#if (eq filteredCategory '餐飲食品' )}}selected{{/if}}>餐飲食品</option>
          <option value="交通出行" {{#if (eq filteredCategory '交通出行' )}}selected{{/if}}>交通出行</option>
          <option value="休閒娛樂" {{#if (eq filteredCategory '休閒娛樂' )}}selected{{/if}}>休閒娛樂</option>
          <option value="家居物業" {{#if (eq filteredCategory '家居物業' )}}selected{{/if}}>家居物業</option>
          <option value="其他" {{#if (eq filteredCategory '其他' )}}selected{{/if}}>其他</option>
        </select>
        <button type="submit" class="btn btn-outline-dark">搜尋</button>
      </form>
    </div>
    <div class="col-2"></div>
    <div class="col-3"></div>
    <div class="col-5">
      <div class="row mt-3 justify-content-center">
        <div class="col-4 text-left">
          <h3> 總金額</h3>
        </div>
        <div class="col-8 text-right align-text-bottom">
          <h1> {{total record}}元</h1>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>


  <div class="row mt-2">
    <div class="col-2"></div>
    <ul class="list-group col-6">
      {{#each record}}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <i class="{{this.icon}}"></i>
        <div class="col-auto  mr-auto">
          <h4 class="mb-1">{{ this.name }}</h4>
          <small class="date">{{dateFormate this.date }}</small>
        </div>
        <div class="col col-auto mr-5 amount">{{ this.amount }}元</div>
        <a class="btn btn-secondary" id="edit-btn" href="./records/{{ this._id }}/edit">修改</a>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-danger">刪除</button>
        </form>
      </li>
      {{/each}}
    </ul>
  </div>
</div>